<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LoDash Example</title>
    </head>

    <body>

        <script src="../Simple/js/lodash.js"></script>

        <script type="text/template" id="list-template">
            <ul>
                <% for (var i = 0; i < count; ++i) { %>
                    <li><%=i%></li>
                <% } %>
            </ul>
        </script>

        <script>
            var tmpl = _.template(document.getElementById("list-template").innerHTML);
            var result = tmpl({count: 5});
            document.write(result);
        </script>

    </body>
</html>